* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ffd6ee;
  }
  
  .carouse-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .wrapper {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: #c9aac6;
  }
  
  .header_logo {
    line-height: 100px;
    float: left;
  }
  
  .logo {
    width: 120px;
    height: 80px;
    margin-top: 20px;
  }
  
  .right-menu {
    margin-top: 60px;
    position: relative;
    float: right;
  }
  
  ul,
  ol {
    list-style-type: none;
    color: #ffbcd1;
    border: none;
    font-weight: bold;
  }
  
  .nav li a {
    background-color: #c9aac6;
    color: #fffffa;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    border-radius: 10px;
  }
  
  .nav li a:hover {
    background-color: #856396;
  }
  
  .nav > li {
    float: right;
  }
  
  .nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }
  
  .nav li:hover > ul {
    display: block;
  }
  
  .nav li ul li {
    position: relative;
    z-index: 9999;
  }
  
  .dropdown-menu li a:hover {
    background-color: #856396;
  }
  
  .slideshow-container {
    top: 2rem;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    /* margin-top: 2rem; */
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  

.product-show{
  width: 100%;
  height: 700px;
  margin: 5% auto;
  background-color: #dcaed7;
}

.text-show{
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  color: #fffffa;
}

  .productos-muestra{
    
    display: grid;
    height: 600px;
    padding-left: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;

    align-content: center;
    align-items: center;
   
    list-style: none;
  }
  .productos-muestra .pokemon:nth-child(1){
    order:-1;
   
  }
  .productos-muestra .pinguino:nth-child(2){
    order:0;
  }

  .productos-muestra .Demon:nth-child(3){
    order:1;
  }

  .productos-muestra .stich:nth-child(4){
    order:2;
  }

  .productos-muestra .personalizado:nth-child(5){
    order:3;
  }

  .productos-muestra .arreglos:nth-child(6){
    order:4;
  }

.pokemon{
  width: 50%;
}

.pinguino{
  width: 40%;
}

.Demon{
  width: 40%;
}

.stich{
  width: 70%;
}

.personalizado{
  width: 50%;
}

.arreglos{
  width: 40%;
}

.container-banner{
  display:block;

}

.banner-text{
  display: inline-block;
 justify-self: center;
padding-top: 250px;
padding-left: 70px;
 font-size: 50px;
 font-family: sans-serif;
 font-style: italic;
 font-weight:500;
 color:#856396;
}

.child{
  display: inline-block; 
float: left;
}

.lett{
 display: inline-block; margin-top: auto;
  width: 25%;
float: right;
justify-self: flex-end;
}

.source{
  width: 35%;
 
  margin-top: 5%;

}

.nosotros-text{

 float:  center;
 margin-left: 10%;
  
  display: inline-block ;
  justify-content: center;
  align-self: center ;
  margin-top: 2%;
  font-family: sans-serif;
  font-size: 15px;
  color: #856396;

}

.logopa{
  width: 35%;
  display: flex;
  margin-top: 5%;
}

.nosotros-t{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacto-t
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contacto-text{
  font-family: sans-serif;
  color: #856396;
  

}

